<?xml version="1.0" encoding="UTF-8"?>
<tns:configuration xmlns:tns="http://www.bakery.at/kippen"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.bakery.at/kippen config.xsd ">

	<!-- Specififies the time after which a timeout even for an object is called -->
	<timeoutMinutes>1</timeoutMinutes>

	<ableton>
		<ip>ip</ip>
		<port>0</port>
	</ableton>

	<objects>
		<objectConfig>
			<!-- JOHNNY -->
			<mac>18:1E:B0:0A:56:AB</mac>
			<events>
			</events>
			<type>cube</type>
		</objectConfig>
	</objects>

</tns:configuration>



